.error {
  color: red;
}

.link {
  text-decoration: none;
  color: black;
}

.link-white {
  text-decoration: none;
  color: white;
}

.page-title {
  font-size: 4.5rem;
}

.page-link {
  color: rgb(158, 158, 158);

  &:hover {
    color: gray;
  }
}