@import "../../../../shared/Styles/Colors.scss";

.CourseTile {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .CourseTile-title {
    color: $bright_blue;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .CourseTile-building {
    margin: 10px 0;
    width: 120px;
    height: 220px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . .";
    padding: 20px;
    opacity: 0.5;
    transition: all 0.4s ease;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      cursor: pointer;
    }

    .CourseTile-building-window-blue {
      background-color: $dark_blue;
    }

    .CourseTile-building-window-yellow {
      background-color: $yellow;
    }
  }
}
