@import "../../../shared/Styles/Colors.scss";

.DeleteDialog {
  .DeleteDialog-title {
    font-size: 1.5rem;
  }

  p {
    color: $light_gray;
  }

  .DeleteDialog-button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .yes-btn {
      color: $green;
    }

    .no-btn {
      color: $red;
    }
  }
}
