@import "../../../shared/Styles/Colors.scss";
@import "../../../shared/Button/Button.scss";

.DeleteDialog {
  .DeleteDialog-title {
    font-size: 1.5rem;
  }

  p {
    color: $light_gray;
  }

  .DeleteDialog-button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .yes-btn {
      @extend .btn;
      color: $green;

      &:hover {
        background-color: $green;
      }
    }

    .no-btn {
      @extend .btn;
      color: $red;

      &:hover {
        background-color: $red;
      }
    }
  }
}
