.CoursesDisplay-title {
  margin-left: 7%;
}

.CoursesDisplay-grid {
  margin: 5% 10% 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 140px;
  grid-row-gap: 50px;
}

.SearchBar {
  margin-left: 110px;
  min-height: 30px;
  min-width: 200px;
}

.search-bars-container {
  display: flex;
  margin: 2% 40% 0 7%;
  justify-content: space-around;
}