$bright_blue: rgb(0, 217, 255);
$dark_blue: rgb(40, 62, 185);
$dark_gray: rgb(39, 39, 39);
$light_gray: rgb(158, 158, 158);
$navy: rgb(5, 19, 100);
$yellow: rgb(255, 230, 0);
$red: rgb(205, 50, 63);
$green: rgb(107, 205, 50);
