.CustomForm {
  min-width: 340px;
  max-width: 670px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: row;

  .CustomForm-image {
    width: 45%;
    border-radius: 20px 0 0 20px;
  }

  .CustomForm-form {
    display: flex;
    height: 500px;
    width: 330px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    padding: 0 20px;
    flex-direction: column;

    .CustomForm-title {
      font-size: 3rem;
    }

    .Custom-form-and-btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 350px;

      .CustomForm-btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}
