@import "../../shared/Styles/Colors.scss";
@import "../../shared/Button/Button.scss";

.CourseDetails-container {
  background-color: rgb(44, 44, 44);
  margin: 0 10%;
  padding: 1% 5%;
  border-radius: 30px;
  margin-bottom: 20px;

  .CourseDetails-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .CourseDetails-subtitle {
    color: black;
    font-size: 1.5rem;
  }

  .Category-symbol {
    height: 100px;
    width: 100px;
    border: 2px solid $bright_blue;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .Category-symbol-inner {
      height: 90px;
      width: 90px;
      border: 4px solid $dark_blue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .CourseDetails-title-buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .CourseDetails-title {
      color: $bright_blue;
      font-size: 2rem;
    }

    .CourseDetails-title-buttons-group {
      display: flex;
      min-width: 18%;
      justify-content: space-between;

      .Button-add {
        @extend .btn;

        &:hover {
          background-color: rgb(107, 205, 50);
        }
      }

      .Button-return {
        @extend .btn;

        &:hover {
          background-color: rgb(205, 50, 63);
        }
      }
    }
  }
}
