@import "../../shared/Styles/Colors.scss";
@import "../../shared/Button/Button.scss";

.CourseDetails-container {
  background-color: rgb(44, 44, 44);
  margin: 0 10%;
  padding: 1% 3%;
  border-radius: 30px;

  .CourseDetails-categories {
    display: flex;
    flex-wrap: wrap;
  }

  .CourseDetails-subtitle {
    color: black;
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .Category-symbol {
    height: 110px;
    width: 110px;
    border: 3px solid $bright_blue;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      color: $yellow;
    }

    .Category-symbol-inner {
      height: 100px;
      width: 100px;
      border: 5px solid $dark_blue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .CourseDetails-title-buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .CourseDetails-title {
      color: $bright_blue;
      font-size: 2rem;
    }

    .CourseDetails-title-buttons-group {
      display: flex;
      min-width: 18%;
      justify-content: space-between;
    }
  }
}

.Table-head {
  width: 300px;
  color: $bright_blue;
  text-align: left;
  font-size: 1.2rem;
}

.Table-row {
  padding: 5px;

  &:hover {
    background-color: rgb(59, 59, 59);
    color: $yellow;
  }
}

.Button-add {
  @extend .btn;

  &:hover {
    background-color: $green;
  }
}

.Button-return {
  @extend .btn;

  &:hover {
    background-color: $red;
  }
}
