.Footer {
  background-color: rgb(20, 20, 20);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}

.Footer-text {
  margin-left: 20px;
}
