.navbar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  background-color: rgb(255, 208, 0);
  box-shadow: 0 0 5px 1px rgba(255, 251, 0, 0.7),
    0 0 20px 5px rgba(255, 208, 0, 0.3);
  margin-bottom: 3rem;
  color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 15px;
}

.navbar-link {
  text-decoration: none;
}

.navbar-title {
  font-weight: 600;
  margin-left: 5px;
}
