.navbar {
  min-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 0 5px 1px rgb(239, 243, 9),
    0 0 20px 5px rgba(255, 217, 0, 0.466);
  margin-bottom: 3rem;
  color: #fff;
}
